    <div class="container">
        <h2>New Project Form</h2>
        <hr>
        <h3><strong>Please fill this form to record a new project</strong></h3>
        <hr>
        <h4>Project Name</h4>
        <input type="text" name="" id="project_name" class="form-control form-required" required>
        <h4>Customer</h4>
        <input type="text" name="" id="customer" class="form-control form-required" required>
        <h4>Address</h4>
        <input type="text" name="" id="address" class="form-control form-required" required>
        <h4>Contact Name</h4>
        <input type="text" name="" id="contact_name" class="form-control form-required" required>
        <h4>Contact Number</h4>
        <input type="text" name="" id="contact_number" class="form-control form-required" required>
        <h4>Account Number</h4>
        <input type="text" name="" id="account_number" class="form-control form-required" required>
        <h4>Floors to be surveyed (please separate by comma)</h4>
        <input type="text" name="" id="floors" class="form-control form-required" required>
        <h4>Scheduled Survey Date (YYYY-MM-DD)</h4>
        <input type="text" name="" id="scheduled_date" class="form-control form-required" required>
        <h4>Comments</h4>
        <input type="text" name="" id="comments" class="form-control">
        <span class="survey-error-span" id="err-comments"></span>
        <hr>
        <!-- Submit Button -->  
         <button type="submit" class="btn btn-primary btn-lg btn-block" id="submit"><i class="fa fa-check-circle" aria-hidden="true"></i> Submit
        </button>

<br><br>
       
 <hr>
        <footer class="footer">
            <div class="container">
                <a href="https://github.com/elsagomez/EnergyLogan">GitHub Repo</a></p>
            </div>
        </footer>
    </div>

    <script type="text/javascript">
        // Chosen CSS
        var config = {
            '.chosen-select': {},
            '.chosen-select-deselect': {
                allow_single_deselect: true
            },
            '.chosen-select-no-single': {
                disable_search_threshold: 10
            },
            '.chosen-select-no-results': {
                no_results_text: 'Oops, nothing found!'
            },
            '.chosen-select-width': {
                width: "95%"
            }
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }

        // Capture the form inputs 
        $("#submit").on("click", function() {

            // Form validation
            function validateForm() {
                var isValid = true;
                $('.form-required').each(function() {
                    if ($(this).val() === '')
                        isValid = false;
                });

                $('.chosen-select').each(function() {

                    if ($(this).val() === "")
                        isValid = false
                })
                return isValid;
            }

            // If all required fields are filled
            if (validateForm() == true) {
                // Create an object for the user's data
                var projectData = {
                    project_name: $("#project_name").val(),
                    customer: $("#customer").val(),
                    address: $("#address").val(),
                    contact_name: $("#contact_name").val(),
                    contact_number: $("#contact_number").val(),
                    account_number: $("#account_number").val(),
                    floors: $("#floors").val(),
                    scheduled_date: $("#scheduled_date").val(),
                    comments: $("#comments").val()
                };


                var floorsArr = $("#floors").val().split(", ")

                // Grab the URL of the website
                var currentURL = window.location.origin;

                // AJAX post the data to the projects API. 
                $.post(currentURL + "/api/projects", projectData, function(data) {
                
                    alert("posted to projects")

                    // for each floor in floorsArr, post a new row in Floors table
                    for (var i = 0; i < floorsArr.length; i++) {
                        var floorData ={
                            floor_number: floorsArr[i],
                            ProjectProjectId: data.project_id
                        };
                       
                        $.post(currentURL + "/api/floors", floorData, function(data) {
                        window.location.href = "/dashboard";
                            console.log('sucessfully posted to floors databse')
                        });
                    };
                });



               
            } else {
                alert("Please fill out all fields before submitting!");
            }

            return false;
        });
    </script>