<div style="height: 400px; width: 300px; border: 1px">
        <canvas id="doughnutChart" height="300" width="300"></canvas>
        <h3 align="center" style="font-family:calibri; color: #f1c40f;">Project 1</h3>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
    <script type="text/javascript">
    var mychart = $("#doughnutChart").get(0).getContext("2d");
    var doughnut = new Chart(mychart, {
        type: "doughnut",
        data: {
            labels: ["complete", "uncomplete"],
            datasets: [{
                data: [0, 100],
                backgroundColor: ["#f1c40f", "#eee"]
            }]
        },
        options: {
            cutoutPercentage: 60,
            legend: {
                display: false
            },
            animation: {
                animateScale: true,
                onComplete: showProgress
            }
        }
    });

    $(document).ready(function() {
        doughnut.data.datasets[0].data[0] = 90; //use sequalize to dynamically update data
        doughnut.data.datasets[0].data[1] = 10;
        doughnut.update();
    });

    function showProgress() {
        var canvas = $("#doughnutChart");
        var context = canvas.get(0).getContext("2d");
        console.log(canvas);
        console.log(context);

        var cx = canvas.width / 2;
        var cy = canvas.height / 2;

        context.textAlign = 'center';
        context.textBaseline = 'middle';
        context.font = "14px calibri";
        context.fillStyle = 'black';
        context.fillText(doughnut.data.datasets[0].data[0] + "%", cx, cy);
    };
    </script>
