.navbar-inverse .navbar-brand {
	color: #f1c40f;
}

.navbar-inverse .navbar-nav>li>a:hover{
	color: #f1c40f;
}

.btn.navbar-btn:hover {
    color: #fff;
    background-color: #f1c40f;
}

.alert-warning {
    background-color: #eee;
    border-color: #eee;
}

.btn-warning {
	background-color: #f1c40f;
    border-color: #f1c40f;
}
.btn-warning:hover {
	background-color: #fff;
	color: #f1c40f;
	border-color: #f1c40f;
}
.text-center {
	color: #333;
}
