#room{
	width:250px;
	margin-right:20px;
}

#fixture {
	width: 450px;
	margin-right:20px;

}

#num_fixture {
	width:120px;
	margin-right: 40px;
}

.headers{
	background-color: black;
	color: white;
	font-weight: bold;	
}

.btnxt{
	background-color: #f1c40f;
	font-weight: bolder;
}

/*.headerRoom{
	width:250px;
}

.headerFixture{
	width: 500px;
}

.headerRoom{
	width: 100px;
}*/

.survey-error-span {
	color:red;
}